In [45]:
import pandas as pd

칼럼명을 '2016년 1월'  '2016년 2월' 처럼 정제

In [82]:
usage_2016 = pd.read_excel('전력사용량_16~22/2016.xlsx')
usage_2017 = pd.read_excel('전력사용량_16~22/2017.xlsx')
usage_2018 = pd.read_excel('전력사용량_16~22/2018.xlsx')
usage_2019 = pd.read_excel('전력사용량_16~22/2019.xlsx')
usage_2020 = pd.read_excel('전력사용량_16~22/2020.xlsx')
usage_2021 = pd.read_excel('전력사용량_16~22/2021.xlsx')
usage_2022 = pd.read_excel('전력사용량_16~22/2022.xlsx')

In [83]:
usage_2016.columns = usage_2016.iloc[1]
usage_2017.columns = usage_2017.iloc[1]
usage_2018.columns = usage_2018.iloc[1]
usage_2019.columns = usage_2019.iloc[1]
usage_2020.columns = usage_2020.iloc[1]
usage_2021.columns = usage_2021.iloc[1]
usage_2022.columns = usage_2022.iloc[1]


usage_2016 = usage_2016.drop(0)
usage_2016 = usage_2016.drop(1)

usage_2017 = usage_2017.drop(0)
usage_2017 = usage_2017.drop(1)

usage_2018 = usage_2018.drop(0)
usage_2018 = usage_2018.drop(1)

usage_2019 = usage_2019.drop(0)
usage_2019 = usage_2019.drop(1)

usage_2020 = usage_2020.drop(0)
usage_2020 = usage_2020.drop(1)

usage_2021 = usage_2021.drop(0)
usage_2021 = usage_2021.drop(1)

usage_2022 = usage_2022.drop(0)
usage_2022 = usage_2022.drop(1)


usage_2016 = usage_2016.reset_index(drop=True)
usage_2017 = usage_2017.reset_index(drop=True)
usage_2018 = usage_2018.reset_index(drop=True)
usage_2019 = usage_2019.reset_index(drop=True)
usage_2020 = usage_2020.reset_index(drop=True)
usage_2021 = usage_2021.reset_index(drop=True)
usage_2022 = usage_2022.reset_index(drop=True)

In [84]:
usage_2016_T = usage_2016[usage_2016['시도'] == '광주광역시']
usage_2017_T = usage_2017[usage_2017['시도'] == '광주광역시']
usage_2018_T = usage_2018[usage_2018['시도'] == '광주광역시']
usage_2019_T = usage_2019[usage_2019['시도'] == '광주광역시']
usage_2020_T = usage_2020[usage_2020['시도'] == '광주광역시']
usage_2021_T = usage_2021[usage_2021['시도'] == '광주광역시']
usage_2022_T = usage_2022[usage_2022['시도'] == '광주광역시']

In [85]:
def psum(usage):
    usage_df = usage[usage['계약종별'] == '합 계']
    usage_df = usage_df.drop(['연도', '시도', '시군구', '계약종별'], axis = True)
    usage_df = usage_df.reset_index(drop = True)

    df_ = []
    for i in range(1, 13):
        df_.append(usage_df[f'{i}월'].sum())

    return df_

df_2016 = psum(usage_2016_T)
df_2017 = psum(usage_2017_T)
df_2018 = psum(usage_2018_T)
df_2019 = psum(usage_2019_T)
df_2020 = psum(usage_2020_T)
df_2021 = psum(usage_2021_T)
df_2022 = psum(usage_2022_T)

In [86]:
def dataframe2016(data):
    year = [2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,]
    month = ['1','2','3','4','5','6','7','8','9','10','11','12',]
    all_df = pd.DataFrame({'year':year,
                                'month':month,
                                'usage':data})
    return all_df

def dataframe2017(data):
    year = [2017,2017,2017,2017,2017,2017,2017,2017,2017,2017,2017,2017,]
    month = ['1','2','3','4','5','6','7','8','9','10','11','12',]
    all_df = pd.DataFrame({'year':year,
                                'month':month,
                                'usage':data})
    return all_df

def dataframe2018(data):
    year = [2018,2018,2018,2018,2018,2018,2018,2018,2018,2018,2018,2018,]
    month = ['1','2','3','4','5','6','7','8','9','10','11','12',]
    all_df = pd.DataFrame({'year':year,
                                'month':month,
                                'usage':data})
    return all_df

def dataframe2019(data):
    year = [2019,2019,2019,2019,2019,2019,2019,2019,2019,2019,2019,2019,]
    month = ['1','2','3','4','5','6','7','8','9','10','11','12',]
    all_df = pd.DataFrame({'year':year,
                                'month':month,
                                'usage':data})
    return all_df

def dataframe2020(data):
    year = [2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,]
    month = ['1','2','3','4','5','6','7','8','9','10','11','12',]
    all_df = pd.DataFrame({'year':year,
                                'month':month,
                                'usage':data})
    return all_df

def dataframe2021(data):
    year = [2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,]
    month = ['1','2','3','4','5','6','7','8','9','10','11','12',]
    all_df = pd.DataFrame({'year':year,
                                'month':month,
                                'usage':data})
    return all_df

def dataframe2022(data):
    year = [2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,]
    month = ['1','2','3','4','5','6','7','8','9','10','11','12',]
    all_df = pd.DataFrame({'year':year,
                                'month':month,
                                'usage':data})
    return all_df



df_2016 = dataframe2016(df_2016)
df_2017 = dataframe2017(df_2017)
df_2018 = dataframe2018(df_2018)
df_2019 = dataframe2019(df_2019)
df_2020 = dataframe2020(df_2020)
df_2021 = dataframe2021(df_2021)
df_2022 = dataframe2022(df_2022)

In [104]:
df_all = pd.concat([df_2016, df_2017, df_2018, df_2019, df_2020, df_2021, df_2022])
df_all = df_all.reset_index()
df_all = df_all.drop(['index'], axis = 1)
df_all

    year month      usage
0   2016     1  753434128
1   2016     2  756942825
2   2016     3  714022910
3   2016     4  675078079
4   2016     5  630983018
..   ...   ...        ...
79  2022     8  892014835
80  2022     9  806887743
81  2022    10  691579483
82  2022    11  690524525
83  2022    12  744368423

[84 rows x 3 columns]

In [105]:
df_all.to_csv("power_usage.csv")