In [1]:
import pandas as pd

In [15]:
usage_2021 = pd.read_csv('usage_2021.csv')
usage_2022 = pd.read_csv('usage_2022.csv')
weather = pd.read_csv('weather_day_df.csv')

In [20]:
usage_2021['Unnamed: 0'] = 2021
usage_2022['Unnamed: 0'] = 2022

In [30]:
usage = pd.concat([usage_2021, usage_2022])
usage.rename(columns = {'Unnamed: 0' : 'year'}, inplace = True)
usage.rename(columns = {'date' : 'day'}, inplace = True)

In [31]:
weather.columns

Index(['Unnamed: 0', 'year', 'month', 'day', 'temp', 'cloud', 'rainfall_total',
       'Humidity_mean', 'solar'],
      dtype='object')

In [32]:
usage.columns

Index(['year', 'month', 'day', 'customer', 'demand_max(Wh)', 'usage(kWh)'], dtype='object')

In [35]:
df = pd.merge(weather, usage, on = ['year', 'month', 'day'], how = 'left')

In [34]:
df

,Unnamed: 0,year,month,day,temp,cloud,rainfall_total,Humidity_mean,solar,customer,demand_max(Wh),usage(kWh)
0,0,2021,1,1,-0.6,7.3,0.0,83.1,9.00,783260,"49,968,118.15","11,154,070.87"
1,1,2021,1,2,-0.3,3.8,0.5,67.8,12.54,783281,"43,576,388.06","10,820,313.94"
2,2,2021,1,3,-0.6,7.3,0.0,54.6,10.37,783288,"44,345,831.21","10,577,876.27"
3,3,2021,1,4,1.2,3.1,0.0,71.8,10.07,783288,"49,666,971.53","11,410,542.58"
4,4,2021,1,5,-0.2,8.0,0.0,64.9,7.74,783310,"44,114,435.78","11,097,614.74"
...,...,...,...,...,...,...,...,...,...,...,...,...
725,725,2022,12,27,0.3,1.8,0.0,74.1,13.08,800308,"31,743,683.54","9,442,942.40"
726,726,2022,12,28,-0.2,5.3,0.0,75.4,9.62,802036,"32,641,190.23","9,679,363.18"
727,727,2022,12,29,0.7,2.1,0.0,63.3,12.25,803784,"58,820,056.15","11,754,265.48"
728,728,2022,12,30,1.0,6.3,0.0,70.4,9.25,805066,"52,733,978.57","12,149,583.10"
729,729,2022,12,31,1.4,1.4,0.0,66.1,12.02,805564,"44,225,974.10","11,472,992.97"

In [36]:
df.to_csv('usage_by_weather.csv')